.con-r-997{ width:997px;}
.con-r-997-top{ position:relative; width:996px; height:238px;}
.postion-ab{ position:absolute; bottom:20px; left:22px; width:950px;}
.postion-ab .img-text{}
.postion-ab .img-text img{ width:92px; height:92px; border:solid 2px #fff;}
.postion-ab .img-text .txt{ margin-left:20px;}
.postion-ab .img-text .txt a{ display:block; font-size:18px; color:#fff; margin-top:48px; font-weight:bold;}
.postion-ab .img-text .txt em{ display:block; margin-top:4px; font-size:14px; color:#9d9fa2;}
.postion-ab a.add-xz{ display:block; width:96px; height:28px; border:solid 1px #fff; color:#fff; font-size:14px; text-align:center; line-height:28px; margin-top:60px;}
.con-r-997-c{ margin-top:22px;}
.con-r-997-c-l{ width:672px;}
.con-r-997-c-l .top{ height:38px;}
.con-r-997-c-l .tab a{ display:inline-block; margin-right:40px; height:37px; font-size:16px;}
.con-r-997-c-l .tab a.on{ color:#000; border-bottom:solid 3px #ff4141;}
.con-r-997-c-l a.fanewt{ font-size:16px; color:#ff4141; background:url(../images/tu4.jpg) left center no-repeat; padding-left:30px;}
.con-r-997-c-l .box1{ padding-top:20px;}
.con-r-997-c-l .box1 li{ margin-bottom:20px; font-size:14px; color:#000;}
.con-r-997-c-l .box1 li em{ color:#ff4141;}
.con-r-997-c-r{ width:292px;}
.con-r-997-c-r h3{ font-size:16px; color:#000;}
.con-r-997-c-r .box2{ padding-bottom:20px; border-bottom:solid 1px #f7f7f7; margin-bottom:22px;}
.con-r-997-c-r .box2 span{ display:block; margin-top:15px; line-height:22px; font-size:14px; color:#000;}
.con-r-997-c-r .box2 .sign{ margin-top:14px;}
.con-r-997-c-r .box2 .sign a{ display:block; width:57px; height:28px; border:solid 1px #ff5555; color:#ff5555; font-size:14px; text-align:center; line-height:28px; border-radius:4px; float:left;}
.con-r-997-c-r .box2 .sign em{ float:left; margin-left:8px; line-height:28px; font-size:14px;}
.con-r-997-c-r .box2 dl{ margin-top:15px;}
.con-r-997-c-r .box2 dl dt{ float:left; width:37px;}
.con-r-997-c-r .box2 dl dt img{ width:37px; height:37px; border-radius:50%;}
.con-r-997-c-r .box2 dl dd{ float:left; margin-left:15px;}
.con-r-997-c-r .box2 dl dd a{ font-size:16px; color:#000; line-height:37px;}
.con-r-997-c-r .box2 p{ margin-top:12px; line-height:22px; font-size:14px; color:#000; margin-bottom:15px;}
.con-r-997-c-r .box2 > em{ font-style:normal; display:block; margin-top:8px; font-size:14px; color:#000;}
.con-r-997-c-r .box2 > em i{ font-style:normal; color:#993333;}

.member-list{}
.member-list .box1{ margin-top:30px;}
.member-list .box1 h3{ font-size:16px; color:#000;}
.member-list .box1 .dl-list{ width:1300px; overflow:hidden;}
.member-list .box1 .dl-list dl{ margin-top:18px; border:solid 1px #f7f7f7; width:384px; height:85px; padding:15px 0; border-radius:5px; float:left; margin-right:15px;}
.member-list .box1 .dl-list dl dt{ width:60px; float:left; margin-left:18px;}
.member-list .box1 .dl-list dl dt img{ width:60px; height:60px; border-radius:50%;}
.member-list .box1 .dl-list dl dd{ float:left; width:286px; margin-left:20px;}
.member-list .box1 .dl-list dl dd a{ font-size:14px; color:#000; display:block;}
.member-list .box1 .dl-list dl dd em{ display:block; margin-top:5px; font-size:14px;}
.page-botton2{width:500px; margin:auto;}
.page-botton2 > a:first-child{ margin:0;}














